@import "../../SCSS/Mixins";

.container {
  @include Desktop() {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
      "search  search"
      "sidebar restaurants";
  }
}

.searchbar {
  @include Desktop() {
    grid-area: search;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 15px auto;
    // box-shadow: 0 0 5px grey;
    padding: 0px;
    border-radius: 0px;
  }
}

.FiltersSideBar {
  @include Desktop() {
    grid-area: sidebar;
  }
}

.cards {
  @include Desktop() {
    grid-area: restaurants;
  }
}
