@import "../../SCSS/Mixins";

.container {
  @include Desktop() {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
      "search  search"
      "sidebar restaurants";
  }
}

.searchbar {
  @include Desktop() {
    grid-area: search;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    background-color: rgb(228, 226, 226);
    padding: 0 15px;
    border-radius: 15px;
  }
}

.FiltersSideBar {
  @include Desktop() {
    grid-area: sidebar;
  }
}

.cards {
  @include Desktop() {
    grid-area: restaurants;
  }
}
.upperBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 50px;
  padding: 10px;
}

.loc{
  flex-basis: 60%;
}
.locText {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);;
}
.search{
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFA500;
}

.btn{
  color: grey;
}
.filter{
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFA500;
}

.cardDiv{
  // display: flex;
  // flex-direction: row;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
