@import "../../SCSS/Mixins";

.container {
  @include Desktop() {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.resdetails {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 15px 0;
  height: fit-content;

  @include Desktop() {
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.FoodItemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 0;

  @include Desktop() {
    width: 70%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "tab tab"
      "verticalTab menus";
    height: auto;
    z-index: 0;
  }

  .tab {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(253, 253, 253);
    z-index: 11;
    padding: 10px 0;

    @include Desktop() {
      grid-area: tab;
      background-color: white;
      position: sticky;
      top: 250px;
      z-index: 11;
    }
  }
  .menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffa500;
    position: fixed;
    bottom: 0px;
    z-index: 50;
    background-color: #413319;
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
    right: 0;
    z-index: 5;
  }
  .verticalTabMob {
    position: fixed;
    bottom: 80px;
    right: 0;
    height: fit-content;
    z-index: 8;
  }
  .verticalTab {
    display: none;
    position: sticky;
    bottom: 0;
    z-index: 12;
    height: fit-content;

    @include Desktop() {
      display: block;
      grid-area: verticalTab;
      position: sticky;
      height: fit-content;
      top: 300px;
    }
  }

  .items {
    grid-area: menus;
    position: sticky;
    top: 450px;
    display: flex;
    flex-direction: row;
  }
}

// .top {
//   background-color: white;

//   @include Desktop() {
//     background-color: white;
//     width: 70%;
//   }
// }

// .FoodItems {
//   width: 100%;
//   @include Desktop() {
//     width: 70%;
//   }
// }
// .tab {
//   position: sticky;
//   top: 300px;
//   background-color: white;
//   z-index: 10;
// }

.cart {
  display: none;

  @include Desktop() {
    display: block;
    width: 30%;
    margin: 35px 15px;
    border: 1px solid rgb(211, 211, 211);
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
    position: sticky;
    top: 320px;
  }
}

// .tabBar {
//   width: 100%;
//   // padding: 15px;

//   @include Desktop() {
//     width: 55%;
//     margin-bottom: 15px;
//     margin: 15px;
//     position: sticky;
//     top: 500px;
//   }
// }

.searchDish {
  @include Desktop() {
    margin: 15px;
    position: sticky;
    top: 180px;
    z-index: 10;
    width: 70%;
    height: fit-content;
    background-color: white;
  }
}

// .bottom {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   @include Desktop() {
//     flex-direction: row;
//   }
// }
