@import "../../SCSS/Mixins";

.logo {
  flex-basis: 30%;
  flex-wrap: wrap;
  justify-content: start;

  @include Desktop() {
    flex-basis: 30%;
    flex-wrap: wrap;
    justify-content: start;
  }
}
.media {
  height: 180px;
}
.resdescription {
  flex-basis: 40%;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.resoffer {
  flex-basis: 30%;
  padding: 15px;
}
.offer {
  display: none;
  @include Desktop() {
    display: block;
    border: 1px solid black;
    height: 180px;
  }
}

.ratings {
  width: 250px;

  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.cuisines,
.address {
  padding: 5px 0;
}
